.wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.input {
    display: inline-block;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid darkgray;
}

.icon {
    display: inline-block;
    height: 1rem;
    cursor: pointer;
}

.buttonClear {
    display: inline-block;
    justify-self: center;
    height: 1rem;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: inherit;
}

.closeBtn {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 4px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    background-color: inherit;
}

.submitBtn {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: inherit;
}